server:
  port: 18081
  servlet:
    context-path: /example
spring:
  application:
    name: example
  datasource:
    url: jdbc:mysql://49.235.41.147:3306/iwms
    username: root
    password: wowivan
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    schema: schema-*.sql„ÄÅdata-*.sql
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
    redis:
      host: localhost
      port: 6379
eureka:
  client:
    service-url:
      defaultZone: http://wwivan:123456@localhost:7001/eureka/
  instance:
    prefer-ip-address: true
feign:
  hystrix:
    enabled: true